@import '../../_base.scss';

.video {
    display: flex;
    flex-direction: column;
    //border: 1px solid red;
    margin-bottom: 0.5rem;
    padding: 0.7rem;

    font-size: 0.9rem;
    font-weight: 500;

    cursor: pointer;

    &__top {
        margin-bottom: 0.5rem;
        padding-bottom: 0.7rem;
        //border: 1px solid blueviolet;

        img {
            margin-bottom: -1.39rem;
            //border: 1px solid yellow;
            width: 100%;
            height: 100%;
        }

        span {
            

            padding: 0.2rem;
            background: #080808ab;
            border-radius: 3px;

        }
    }

    &__title {
        margin-bottom: 0.1rem;

        color: #fff;

        //video title overflow to only one line
        @include line-clamp(1);

    }


    &__details {
        display: flex;
        align-items: center;
    }

    &__channel {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

        img {
            width: 36px;
            height: 36px;

            border-radius: 50%;
            margin-right: 0.5rem;
            cursor: pointer;
        }

        p {
            margin-bottom: 0;
        }


    }
}